body {
    transition: background-color 0.5s, color 0.3s;
    background-color: white;
    color: black;
   
}

body.dark-mode {
    background-color: black;
    color: white;
}

#toggleButton {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    cursor: pointer;
}
